%legend Employees
= line_chart Employee.not_admin.group_by_week(:confirmed_at).count
%legend Geo by Country
= geo_chart Address.includes(:employee).where({ employees: { activated: true, admin: false } }).group(:country).count
%legend Geo by City
= geo_chart Address.includes(:employee).where({ employees: { activated: true, admin: false } }).group(:town).count, library: { region: 'GB' }
%legend Gender
= pie_chart Employee.not_admin.activated.group(:gender).count
%legend Age
= bar_chart Employee.not_admin.with_age.group(:age).count.map { |key, value| [key, value] },
             library: { vAxis: { title: 'Age' }, hAxis: { title: 'Frequency' } }
%legend Competencies
= bar_chart Competency.group(:competency_type).count
%legend Substantive ranks
= bar_chart Employee.not_admin.activated.group(:substantive_rank).count
