%legend Employees
= line_chart Employee.group_by_week(:confirmed_at).count
%legend Geo by Country
= geo_chart Address.includes(:employee).where({ employees: { activated: true } }).group(:country).count
%legend Geo by City
= geo_chart Address.includes(:employee).where({ employees: { activated: true } }).group(:town).count
%legend Geo by Address
= geo_chart Address.includes(:employee).where({ employees: { activated: true } }).map { |a| [a.country, a.town, a.street_address].join(' ') }.count
%legend Gender
= pie_chart Employee.activated.group(:gender).count
%legend Age
= bar_chart Employee.with_age.group(:age).count.map { |key, value| [key, value] },
             library: { vAxis: { title: 'Age' }, hAxis: { title: 'Frequency' } }
%legend Competencies
= bar_chart Competency.group(:competency_type).count

