%tr
  %td= announcement.employee.try(:email)
  %td= announcement.title
  %td= announcement.created_at.strftime('%e %b %Y')
  %td= announcement.updated_at.strftime('%e %b %Y')
  %td
    - if can? :read, announcement
      = link_to 'Show', [@parent, announcement]
    - if can? :edit, announcement
      = link_to 'Edit', edit_employee_announcement_path(@parent, announcement)
    - if can? :destroy, announcement
      = link_to 'Destroy', [@parent, announcement], method: :delete, data: { confirm: 'Are you sure?' }
