.row
  .panel.panel-default.panel-primary
    .panel-heading
      = image_tag @employee.avatar.url(:thumb)
      .pull-right
        - if can? :edit, @employee
          = link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-default'
        - if can? :index, Assignment
          = link_to 'Assignments', employee_assignments_path(@employee), class: 'btn btn-default'

    %ul.list-group
      %li.list-group-item Email: #{@employee.email}
      %li.list-group-item Rank: #{@employee.substantive_rank}
      %li.list-group-item Name: #{@employee.first_name} #{@employee.last_name}
      %li.list-group-item Service Number: #{@employee.service_no}
      %li.list-group-item Email: #{@employee.email}
      %li.list-group-item Age: #{@employee.age}
      - if @employee.next_away_event.present?
        %li.list-group-item.alert.alert-danger I will be away from #{@employee.next_away_event.start_date.strftime('%d %b') if @employee.next_away_event.start_date.present?} for #{pluralize((@employee.next_away_event.end_date.to_date - @employee.next_away_event.start_date.to_date).to_i, 'day')}

    = line_chart [[@employee.service_start_date, 0]] + @employee.promotion_dates.with_deleted.map { |p| [p.date, p.rank_point] },
                library: { vAxis: { title: 'Ranks' }, hAxis: { title: 'Date' } }

.row
  = render 'resources', resource_class: Address, title: 'Addresses', partial_name: 'addresses/addresses', partial_params: { addresses: @employee.addresses }

  = render 'resources', resource_class: Competency, title: 'Competencies', partial_name: 'competencies/competencies', partial_params: { competencies: @employee.competencies }

  = render 'resources', resource_class: MedicalRecord, title: 'Medical Records', partial_name: 'medical_records/medical_records', partial_params: { medical_records: @employee.medical_records }

  = render 'resources', resource_class: NextOfKin, title: 'Next Of Kins', partial_name: 'next_of_kins/next_of_kins', partial_params: { next_of_kins: @employee.next_of_kins }

  = render 'resources', resource_class: Note, title: 'Notes', partial_name: 'notes/notes', partial_params: { notes: @employee.notes }

  = render 'resources', resource_class: Phone, title: 'Phones', partial_name: 'phones/phones', partial_params: { phones: @employee.phones }

  = render 'resources', resource_class: Qualification, title: 'Qualifications', partial_name: 'qualifications/qualifications', partial_params: { qualifications: @employee.qualifications }

  = render 'resources', resource_class: Report, title: 'Reports', partial_name: 'reports/reports', partial_params: { reports: @employee.reports }

  = render 'resources', resource_class: Dependant, title: 'Dependants', partial_name: 'dependants/dependants', partial_params: { dependants: @employee.dependants }

  = render 'resources', resource_class: TradeCareer, title: 'Trade Careers', partial_name: 'trade_careers/trade_careers', partial_params: { trade_careers: @employee.trade_careers }

  = render 'resources', resource_class: Event, title: 'Events', partial_name: 'events/events', partial_params: { events: @employee.events }

  = render 'resources', resource_class: PromotionDate, title: 'Promotion dates', partial_name: 'promotion_dates/promotion_dates', partial_params: { promotion_dates: @employee.promotion_dates }

.well.clearfix
%img.pull-right{:src => "http://kcdn3.klout.com/static/images/developers/dev-assets/powered-by-klout.png", :width => "150px"}/
