= semantic_form_for [parent, assignment] do |f|
  = f.input :role_id, as: :select, collection: Role.all.map { |r| [r.pid, r.id] }
  = f.input :start_date, as: :date_picker
  = f.input :end_date, as: :date_picker

  = f.actions

- if can? :index, Assignment
  = link_to 'Back', employee_assignments_path(@parent)
