%p
  %strong First name: #{@spouse.first_name}
%p
  %strong Last name: #{@spouse.last_name}
%p
  %strong Date of birth: #{@spouse.date_of_birth}
%p
  %strong Gender: #{@spouse.gender}
%p
  %strong Anniversary: #{@spouse.anniversary}

- if can? :edit, @spouse
  = link_to 'Edit', edit_employee_spouse_path(@parent, @spouse)
- if can? :index, @parent.spouses.build
  |
  = link_to 'Back', employee_spouses_path(@parent)
