= semantic_form_for [@parent, @event] do |f|
  = f.inputs do
    = f.input :employee_id, as: :select, collection: Employee.all.map { |e| [e.email, e.id] }
    = f.input :event_type
    = f.input :name
    = f.input :start_date
    = f.input :end_date
    = f.input :away
  = f.actions do
    = f.action :submit
