= semantic_form_for [@parent, @competency] do |f|
  .field
    = f.input :name
  .field
    = f.input :competency_type
  .field
    = f.input :grade
  .field
    = f.input :start_date, as: :date_picker
  .field
    = f.input :end_date, as: :date_picker
  .actions
    = f.submit
