%p
  %strong Name: #{@competency.name}
%p
  %strong Type: #{@competency.competency_type}
%p
  %strong Grade: #{@competency.grade}
%p
  %strong Start date: #{@competency.start_date.strftime('%e %b %Y') if @competency.start_date.present?}
%p
  %strong End date: #{@competency.end_date.strftime('%e %b %Y') if @competency.end_date.present?}

- if can? :edit, @competency
  = link_to 'Edit', edit_employee_competency_path(@parent, @competency)
- if can? :index, @parent.competencies.build
  |
  = link_to 'Back', employee_competencies_path(@parent)
