%nav.navbar.navbar-static-top.navbar-inverse{ role: 'navigation' }
  .container
    = link_to '1RLC LAD', '#', id: 'logo'
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.messages
        = header_link 'Home', root_path
        = header_link 'Help', help_path
        = header_link 'Statistics', statistics_path
        = header_link 'Employees', employees_path if can?(:index, Employee)
        = header_link 'Roles', roles_path if can?(:index, Role)
        - if current_employee.present?
          %li.dropdown
            = link_to '#', :class => "dropdown-toggle", :'data-toggle' => "dropdown" do
              Resources
              %b.caret
            %ul.dropdown-menu
              = header_link 'Phones', employee_phones_path(current_employee) if can? :index, Phone
              = header_link 'Addresses', employee_addresses_path(current_employee) if can? :index, Address
              = header_link 'Competencies', employee_competencies_path(current_employee) if can? :index, Competency
              = header_link 'Dependants', employee_dependants_path(current_employee) if can? :index, Dependant
              = header_link 'Events', employee_events_path(current_employee) if can? :index, Event
              = header_link 'Medical Records', employee_medical_records_path(current_employee) if can? :index, MedicalRecord
              = header_link 'Next Of Kins', employee_next_of_kins_path(current_employee) if can? :index, NextOfKin
              = header_link 'Notes', employee_notes_path(current_employee) if can? :index, Note
              = header_link 'Promotion Dates', employee_promotion_dates_path(current_employee) if can? :index, PromotionDate
              = header_link 'Qualifications', employee_qualifications_path(current_employee) if can? :index, Qualification
              = header_link 'Reports', employee_reports_path(current_employee) if can? :index, Report
              = header_link 'Trade Careers', employee_trade_careers_path(current_employee) if can? :index, TradeCareer

          %li.dropdown
            = link_to '#', :class => "dropdown-toggle", :'data-toggle' => "dropdown" do
              Account
              %b.caret
            %ul.dropdown-menu
              = header_link 'Profile', current_employee
              = header_link 'Settings', edit_employee_path(current_employee)
              %li.divider
              = header_link 'Log out', destroy_employee_session_path, link: { method: :delete }
        - else
          = header_link 'Log in', new_employee_session_path
