%nav.navbar.navbar-static-top.navbar-inverse{ role: 'navigation' }
  .container
    = link_to '1RLC LAD', '#', id: 'logo'
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.messages
        = header_link 'Home', root_path
        = header_link 'Help', help_path
        = header_link 'Employees', employees_path if can?(:index, Employee)
        = header_link 'Roles', roles_path if can?(:index, Role)
        - if current_employee.present?
          %li.dropdown
            = link_to '#', :class => "dropdown-toggle", :'data-toggle' => "dropdown" do
              Account
              %b.caret
            %ul.dropdown-menu
              = header_link 'Profile', current_employee
              = header_link 'Settings', edit_employee_path(current_employee)
              %li.divider
              = header_link 'Log out', destroy_employee_session_path, link: { method: :delete }
        - else
          = header_link 'Log in', new_employee_session_path
