= semantic_form_for [@parent, @report] do |f|
  = f.inputs do
    = f.input :previous_date
    = f.input :next_date
    = f.input :mpar
    = f.input :mpar_date
  = f.actions do
    = f.action :submit
