= semantic_form_for [@parent, @report] do |f|
  = f.inputs do
    = f.input :previous_date, as: :date_picker
    = f.input :next_date, as: :date_picker
    = f.input :mpar
    = f.input :mpar_date, as: :date_picker
  = f.actions do
    = f.action :submit
