%tr
  %td= report.previous_date.strftime('%e %b %Y') if report.previous_date.present?
  %td= report.next_date.strftime('%e %b %Y') if report.next_date.present?
  %td= report.mpar
  %td= report.mpar_date.strftime('%e %b %Y') if report.mpar_date.present?
  %td
    - if can? :read, report
      = link_to 'Show', [@parent, report]
    - if can? :edit, report
      = link_to 'Edit', edit_employee_report_path(@parent, report)
    - if can? :destroy, report
      = link_to 'Destroy', [@parent, report], method: :delete, data: { confirm: 'Are you sure?' }
